
@font-face {
  font-family: 'National';
	font-style: normal;
	font-weight: 700;
	src:url("/dist/fonts/National2Web-Bold.woff2") format("woff2"),
			url("/dist/fonts/National2Web-Bold.woff") format("woff");
}

@font-face {
  font-family: 'National';
	font-style: normal;
	font-weight: 600;
	src:url("/dist/fonts/National2Web-Medium.woff2") format("woff2"),
			url("/dist/fonts/National2Web-Medium.woff") format("woff");
}
