
$img-url: '/dist/images/';

$bg-avocado: url("#{$img-url}bg-avocado.jpg");
$bg-avocado-m: url("#{$img-url}bg-avocado-m.jpg");

$bg-banana: url("#{$img-url}bg-banana.jpg");
$bg-banana-m: url("#{$img-url}bg-banana-m.jpg");

$bg-coconut: url("#{$img-url}bg-coconut.jpg");
$bg-coconut-m: url("#{$img-url}bg-coconut-m.jpg");

$bg-egg: url("#{$img-url}bg-egg.jpg");
$bg-egg-m: url("#{$img-url}bg-egg-m.jpg");

$bg-eggplant: url("#{$img-url}bg-eggplant.jpg");
$bg-eggplant-m: url("#{$img-url}bg-eggplant-m.jpg");

$bg-kombucha: url("#{$img-url}bg-kombucha.jpg");
$bg-kombucha-m: url("#{$img-url}bg-kombucha-m.jpg");

$bg-leaf: url("#{$img-url}bg-leaf.jpg");
$bg-leaf-m: url("#{$img-url}bg-leaf-m.jpg");

$bg-salmon: url("#{$img-url}bg-salmon.jpg");
$bg-salmon-m: url("#{$img-url}bg-salmon-m.jpg");

$bg-steak: url("#{$img-url}bg-steak.jpg");
$bg-steak-m: url("#{$img-url}bg-steak-m.jpg");

$bg-yoga: url("#{$img-url}bg-yoga.jpg");
$bg-yoga-m: url("#{$img-url}bg-yoga-m.jpg");
