
.up-link {
	position: fixed;
	bottom: $base*2;
	right: 10%;
	z-index: 10;

	@include bp-min-width($medium) {
		bottom: $base*3;
	}
}

.logo {
	margin-bottom: 6px;
	margin-left: -4px;

	@include bp-min-width($medium) {
		margin-left: -12px;
	}
}

.subtitle span {
	display: block;
}

.divider {
	margin: $base 0;
	font-weight: $weight-bold;
}

.schedule span {
	display: inline-block;
	width: 80px;

	@include bp-min-width($medium) {
		width: 120px;
	}
}
