    <footer class="footer">
      <div class="container">
        <ul>
          <li><a href="https://www.eventbrite.com/e/the-great-grain-free-fair-tickets-47678009209">Register</a></li>
          <li><a href="https://goo.gl/maps/XmZwPD8WnXq">Directions</a></li>
          <li><a href="mailto:marquece@cappellos.com">Contact Us</a></li>
        </ul>
      </div>
    </footer>

    <a href="#" class="up-link">
      <svg class="icon-arrows">
        <use href="#icon-arrows"></use>
      </svg>
    </a>

    <script src="/dist/js/main.js"></script>
  </body>
</html>
