<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G2F2</title>
    <link href="/dist/css/main.css" rel="stylesheet" media="all">
  </head>
  <body id="body">
    @@include('svg.html')

    <div id="bg-body" class="bg-body bg-salmon"></div>

    <header class="header">
      <a href="https://www.instagram.com/g2f2denver/" class="ig-link">
        <svg class="icon-instagram">
          <use href="#icon-instagram"></use>
        </svg>
      </a>

      <a href="https://www.eventbrite.com/e/the-great-grain-free-fair-tickets-47678009209" class="free-badge">
        <img src="/dist/images/free-circle.svg" alt="Register for Free" class="free-circle" />
        <img src="/dist/images/free-text.svg" alt="Register for Free" class="free-text" />
      </a>
    </header>
