
.footer .container {
	position: relative;
	padding-top: $base*2;
	padding-bottom: $base*4;
}

.footer ul {
	@include font-units(18px, 24px);
	width: 100%;
	font-weight: $weight-bold;
	letter-spacing: .1em;

	@include bp-min-width($medium) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.footer li {
	text-transform: uppercase;

	@include bp-max-width($medium) {
		margin-bottom: 12px;
	}
}

.bms {
	@include font-size(10px);
	position: absolute;
	left: 20px;
	bottom: 12px;

	@include bp-min-width($medium) {
		left: 0;
	}
}
