
.header {
	text-align: center;
}

@-webkit-keyframes spin {
	0% {
		transform: rotateZ(0deg);
	}

	100% {
		transform: rotateZ(360deg);
	}
}

.free-badge {
	position: relative;
	z-index: 10;
	display: inline-block;

	@include bp-max-width($medium) {
		transform: scale(.75);
		margin: 0 auto;
	}

	@include bp-min-width($medium) {
		position: fixed;
		top: 30%;
		right: 20%;
	}
}

.free-badge__link {
	display: block;
	animation: spin 40s linear infinite;
}

.free-text {
	position: absolute;
	top: 72px;
	left: 59px;
}

.ig-link {
	position: fixed;
	top: $base*2;
	right: 10%;
	z-index: 10;
}
